/*@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');*/
@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  /* Base */  

  --mate: #141518;
  --mate-light: #23252b;
  --mate-dark: #0a0a0c;

  /* UI Surfaces */
  --surface: #0f1016;        /* chat background panels */
  --surface-alt: #161829;    /* sidebar / secondary background */
  --border: oklch(0.92 0.004 286.32);         /* borders/dividers */

  /* Accents */
  --primary:#11a2d6;  
  --primary-hover: #2a92b9;        /* blue (buttons, links) */
  --primary-100: #65c9f0;      /* bright blue (send button, links) */
  --primary-hover: #2a92b9;  /* hover state */
  --secondary: oklch(0.967 0.001 286.375);      /* purple (highlights / user avatars) */
  --secondary-hover: #7c3aed;
  --primary-900: #03252e; /* dark blue (selected sidebar item) */

  /* States */
  --success: #22c55e;        /* green */
  --warning: #facc15;        /* yellow */
  --error: #ef4444;          /* red */

  /* Muted / Neutral text */
  --muted: oklch(0.967 0.001 286.375);          /* placeholder, timestamps */
  --muted-foreground: oklch(0.552 0.016 285.938);
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.141 0.005 285.823);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.141 0.005 285.823);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.141 0.005 285.823);
  --primary-foreground: oklch(0.985 0 0);
  --secondary-foreground: oklch(0.21 0.006 285.885);
  --accent: oklch(0.967 0.001 286.375);
  --accent-foreground: oklch(0.21 0.006 285.885);
  --destructive: oklch(0.577 0.245 27.325);
  --input: oklch(0.92 0.004 286.32);
  --ring: oklch(0.705 0.015 286.067);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.141 0.005 285.823);
  --sidebar-primary: oklch(0.21 0.006 285.885);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.967 0.001 286.375);
  --sidebar-accent-foreground: oklch(0.21 0.006 285.885);
  --sidebar-border: oklch(0.92 0.004 286.32);
  --sidebar-ring: oklch(0.705 0.015 286.067);
}

@theme inline {
  --font-poppins: 'Poppins', sans-serif;
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-surface: var(--surface);
  --color-surface-alt: var(--surface-alt);
  --color-border: var(--border);

  --color-mate: var(--mate);
  --color-mate-dark: var(--mate-dark);
  --color-mate-light: var(--mate-light);

  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --color-primary-100: var(--primary-100)
  --color-primary-hover: var(--primary-hover);
  --color-secondary: var(--secondary);
  --color-secondary-hover: var(--secondary-hover);
  --color-primary-900: var(--primary-900);

  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);

  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-primary-foreground: var(--primary-foreground);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer utilities {
  .h1 {
    @apply text-[34px] leading-[64px] font-poppins font-semibold;
  }
  .h2 {
    @apply text-[24px] leading-[36px] font-poppins font-bold;
  }
  .h3 {
    @apply text-[20px] leading-[28px] font-poppins font-medium;
  }
  .h4 {
    @apply text-[18px] leading-[20px] font-poppins font-medium;
  }
  .h5 {
    @apply text-[16px] leading-[24px] font-poppins font-semibold;
  }
  .subtitle-1 {
    @apply text-[16px] leading-[24px] font-poppins font-medium;
  }
  .subtitle-2 {
    @apply text-[14px] leading-[20px] font-poppins font-semibold;
  }
  .body-1 {
    @apply text-[16px] leading-[24px] font-poppins font-normal;
  }
  .body-2 {
    @apply text-[14px] leading-[20px] font-poppins font-normal;
  }
  .button {
    @apply text-[14px] leading-[20px] font-poppins font-medium;
  }
  .caption {
    @apply text-[12px] leading-[16px] font-poppins font-normal;
  }
  .overline {
    @apply text-[10px] leading-[14px] font-poppins font-normal;
  }  
  .container {
    @apply mx-auto max-w-7xl px-5;
  }
  .flex-center {
    @apply flex items-center justify-center gap-[16px];
  }
  .flex-center-col {
    @apply flex flex-col items-center justify-center;
  }
  .card {
    @apply flex flex-col items-center justify-center bg-background px-[18px] py-[18px] rounded-[22px];
  }
  .auth-form {
    @apply flex my-[32px] px-[18px] max-h-[800px] w-full max-w-[580px] flex-col justify-center items-center space-y-2 transition-all lg:h-full lg:space-y-2;
  }
  .input {
    @apply w-full rounded-[12px] border border-border bg-surface-alt px-4 py-3 text-foreground placeholder:font-light placeholder:text-muted focus:border-primary focus:outline-none focus:ring-1 focus:ring-primary hover:bg-border hover:border-foreground transition-all;
  }
  .primary-btn {
    @apply bg-primary rounded-[12px] px-4 py-3 text-white w-full text-primary-900 font-semibold hover:bg-primary-hover hover:text-foreground transition-all;
  }
  .secondary-btn {
    @apply bg-surface-alt rounded-[12px] px-4 py-2 text-foreground w-full border border-border hover:bg-border hover:border-foreground transition-all;
  }
  .error-message {
    @apply mx-auto w-full rounded-xl bg-error/5 px-8 py-3 text-center text-error text-[14px];
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

body {
  font-family: Poppins, Helvetica, sans-serif;
}

.dark {  

  --background: oklch(0.141 0.005 285.823);  

  --foreground: oklch(0.985 0 0);  

  --card: oklch(0.21 0.006 285.885);  

  --card-foreground: oklch(0.985 0 0);  

  --popover: oklch(0.21 0.006 285.885);  

  --popover-foreground: oklch(0.985 0 0);  

  --primary: oklch(0.92 0.004 286.32);  

  --primary-foreground: oklch(0.21 0.006 285.885);  

  --secondary: oklch(0.274 0.006 286.033);  

  --secondary-foreground: oklch(0.985 0 0);  

  --muted: oklch(0.274 0.006 286.033);  

  --muted-foreground: oklch(0.705 0.015 286.067);  

  --accent: oklch(0.274 0.006 286.033);  

  --accent-foreground: oklch(0.985 0 0);  

  --destructive: oklch(0.704 0.191 22.216);  

  --border: oklch(1 0 0 / 10%);  

  --input: oklch(1 0 0 / 15%);  

  --ring: oklch(0.552 0.016 285.938);  

  --chart-1: oklch(0.488 0.243 264.376);  

  --chart-2: oklch(0.696 0.17 162.48);  

  --chart-3: oklch(0.769 0.188 70.08);  

  --chart-4: oklch(0.627 0.265 303.9);  

  --chart-5: oklch(0.645 0.246 16.439);  

  --sidebar: oklch(0.21 0.006 285.885);  

  --sidebar-foreground: oklch(0.985 0 0);  

  --sidebar-primary: oklch(0.488 0.243 264.376);  

  --sidebar-primary-foreground: oklch(0.985 0 0);  

  --sidebar-accent: oklch(0.274 0.006 286.033);  

  --sidebar-accent-foreground: oklch(0.985 0 0);  

  --sidebar-border: oklch(1 0 0 / 10%);  

  --sidebar-ring: oklch(0.552 0.016 285.938);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
